@use "./varibales" as *;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

button,
input{
	outline: none;
	border: none;
}


body{
	font-family: $primaryFont;

	font-weight: 400;
	font-size: 16px;
	color: $white;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

