// !colors
$dark: #000;
$white: #fff;
$primary: #242633;
$btn: #6b63b5;
$nav: #10141b;

// !fonts
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Playfair Display', serif;

@mixin textShadow {
	text-shadow: #FC0 1px 0 10px;
}